<div><h1>ADIT Email Validat</h1>


<form [formGroup] = "loginform" (ngSubmit)="onSubmit()"> 

  Email : <input type="text" placeholder="Email Address" formControlName="Email"/>
  @if(Email?.invalid &&  (Email?.dirty || Email?.touched)){
    @if(Email?.errors?.['required']){
      <span style="text-align: center; color: red;">email is required</span>
    }
  }

    Password : <input type="password" placeholder="password" formControlName="Password"/>
    @if(Password?.invalid &&  (Password?.dirty || Password?.touched)){
      @if(Password?.errors?.['required']){
        <span style="text-align: center; color: red;">Passwoed must be 10  characters long </span>
      }
    }
  
   <span style="text-align: left;">
   Gender : &nbsp;&nbsp;
   <input type="radio" formControlName="Gender" value="Male"/>Male
   <input type="radio" formControlName="Gender" value="Female"/>Female
  </span>

  <span style="text-align: left;">
  <label for="">Choose your state : </label>
  <select id="" formControlName="State">
    <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
    <option value="Andhra Pradesh">Andhra Pradesh</option>
    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
    <option value="Assam">Assam</option>
    <option value="Bihar">Bihar</option>
    <option selected="selected" value="Chandigarh">Chandigarh</option>
    <option value="Chhattisgarh">Chhattisgarh</option>
  </select>
  </span>

    <button type="submit" [disabled]="!loginform.valid">Login</button>


    {{loginform.value | json}}
    
</form>
</div>
<!-- <textarea cols="30" rows="10">

</textarea> -->